{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header x-data="{open: false}" class="header shadow-2xl relative bg-white w-full" >
			{% block header %}
				<div class="wrapper flex gap-6 py-2 md:py-6 px-4 items-center justify-between">
          <button class="lg:hidden" @click="open = !open" class="mobile-menu-toggle">
            <i x-show="!open" class="las la-bars"></i>
            <i x-show="open" class="las la-times"></i>
          </button>
					<h1 class="hdr-logo text-sm md:text-2xl font-extrabold uppercase" role="banner">
						<a class="hdr-logo-link text-black visited:text-black" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main flex-grow hidden lg:block" role="navigation">
						{% include "menu.twig" with {'items': menu.get_items} %}
					</nav><!-- #nav -->
          {# menu cart #}
          {% include "partial/mini-cart.twig" %}
				</div>
			{% endblock %}
      <div
        x-show="open"
        x-transition:enter="transition duration-500"
        x-transition:enter-start="-top-full"
        x-transition:enter-end="top-full"
        x-transition:leave="transition duration-500"
        x-transition:leave-start="top-full"
        x-transition:leave-end="-top-full"
        class="
          bg-white
          py-2
          px-2
          absolute
          left-0
          right-0
        ">
        {% include "vertical-menu.twig" with {'items': menu.get_items} %}
      </div>
		</header>

		<section id="content" role="main" class="content-wrapper">
      	{% block hero %}{% endblock %}
			{# {% if title %}<h1>{{title}}</h1>{% endif %} #}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{# {% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %} #}
		</section>

		{% block footer %}
			<footer id="footer" class="bg-gray-50">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
{# py-32 mb-0 #}